/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Logs]/
/[MemoryCaptures]/

# Fichiers de solution Visual Studio/Rider
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# Fichiers système
.DS_Store
Thumbs.db